<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin *
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    Options -Indexes

    #RewriteCond %{HTTPS} off
    #RewriteCond %{HTTP_HOST} edificios\.speedy\.com\.ar$ [NC]
    #RewriteRule ^ https://www.edificios.speedy.com.ar%{REQUEST_URI}  [R=301,L,NE]

    RewriteRule ^ver/plano/(.+)$ /media/$1 [L]

    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_URI} ^app.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

    ErrorDocument 404 /404
    ErrorDocument 403 /404
    RewriteRule ^vendor/(.*)$ /404
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /general/error_404
</IfModule>

#<IfModule mod_expires.c>
#    ExpiresActive On
#    ExpiresDefault "access plus 1 month"
#    ExpiresByType image/x-icon "access plus 1 year"
    # Images
#    ExpiresByType image/png "access plus 1 month"
#    ExpiresByType image/jpg "access plus 1 month"
#    ExpiresByType image/jpeg "access plus 1 month"
#</IfModule>

    #Descomentar y configurar para configurar
    #el ENVIRONMENT de forma automática según el dominio.
    SetEnvIf Host speedy.com.ar$ CI_ENV=production
